
<h3>What is your name?</h3>

<form action='set_name' method='post'>
  <input type='text' placeholder='ex. Rumpelstiltskin' name='username'/>
  <br>
  <button type='submit' class='btn btn-primary'>Submit</button>
</form>