form#hit_button {
  float: right;
  margin-left: 10px;
}

form#stay_button {
  float: right;
}

form#dealer_button {
  float: right;
}

img.card_image {
 margin: 0px 5px 5px 0px;
}


div.well {
  opacity: .9;
}

img#card_img {
  border: 3px solid black;
}

body {
  background-image: url(/images/Las_Vegas_copy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center fixed;
}

h5 {
  color: white;
  text-align: right;
}

p {
  color: white;
  text-align: right;
}

